In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r"C:\Users\ryani\Desktop\Data Analyst COURSE\Data Immersion\E6 - Dashboards and Analytics\UN_DATASET"

In [3]:
df_UN = pd.read_csv(os.path.join(path, '03 Prepared Data', 'UN_df_cleaned.csv'), low_memory=False)

In [4]:
df_UN

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,...,Q0060Male,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR
0,143,4,NaN,AFG,AF,4,4,Country/Area,5501,Afghanistan,...,274.4609,224.8054,101.7436,110.5445,92.7252,198.4914,221.6256,175.9458,-44.089,-1.034
1,143,4,NaN,AFG,AF,4,4,Country/Area,5501,Afghanistan,...,278.3373,229.1277,103.7876,112.5256,94.8531,201.1085,224.2414,178.7562,-48.958,-1.181
2,143,4,NaN,AFG,AF,4,4,Country/Area,5501,Afghanistan,...,288.3504,233.7682,108.9153,120.5091,97.0285,207.2249,233.3923,181.8401,-647.402,-15.954
3,143,4,NaN,AFG,AF,4,4,Country/Area,5501,Afghanistan,...,434.9700,291.2585,187.4871,243.1744,126.7582,316.9767,388.2573,239.8960,-548.784,-13.719
4,143,4,NaN,AFG,AF,4,4,Country/Area,5501,Afghanistan,...,395.8878,275.1640,160.4519,201.7709,116.2911,284.3806,344.7921,221.3018,143.634,3.676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,Zimbabwe,...,430.3308,353.8247,209.8813,234.9024,190.9142,347.4430,389.2870,313.5975,-103.107,-6.752
2316,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,Zimbabwe,...,427.9629,360.0455,211.7529,232.9385,195.8469,349.1253,385.7373,319.5930,-117.758,-7.833
2317,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,Zimbabwe,...,439.0037,374.3302,220.8267,241.7148,205.0532,360.9658,395.5178,333.0355,-128.241,-8.658
2318,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,Zimbabwe,...,445.2774,386.7537,229.5361,246.6502,216.6720,369.5281,400.3307,344.6680,-140.181,-9.601
2319,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,Zimbabwe,...,456.8205,404.9676,240.6517,255.9804,228.9698,383.5534,410.1757,362.0620,-162.220,-11.266

In [5]:
df_UN.describe()

,SortOrder,LocID,Notes,SDMX_code,LocTypeID,ParentID,VarID,Year,TPopulation1Jan,TPopulation1July,...,Q0060Male,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR
count,2320.000000,2320.000000,590.000000,2320.000000,2320.0,2320.000000,2320.0,2320.000000,2.320000e+03,2.320000e+03,...,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000
mean,194.448276,439.133621,17.372881,439.133621,4.0,1197.745690,2.0,2019.500000,3.355293e+04,3.371895e+04,...,209.195922,139.551055,77.778292,95.171633,59.917577,151.161826,184.908838,116.746806,0.045228,-0.236766
std,76.189359,253.483236,11.077591,253.483236,0.0,1090.720106,0.0,2.872901,1.350689e+05,1.354838e+05,...,117.249429,101.104064,59.722004,68.318400,52.054530,88.919739,99.995135,80.382424,236.812619,12.705091
min,64.000000,4.000000,1.000000,4.000000,4.0,906.000000,2.0,2015.000000,4.910000e-01,4.960000e-01,...,35.932300,23.470500,3.692900,4.056800,3.337200,24.792700,30.822400,18.472700,-5699.445000,-138.846000
25%,128.750000,221.000000,5.000000,221.000000,4.0,914.000000,2.0,2017.000000,3.903908e+02,3.907303e+02,...,115.041150,63.507725,33.329975,42.627050,23.233800,81.122300,105.150775,54.799700,-10.290750,-2.878750
50%,195.000000,439.000000,19.000000,439.000000,4.0,922.000000,2.0,2019.500000,5.479717e+03,5.495456e+03,...,199.715750,105.460700,63.909000,83.769750,42.843200,137.802600,180.769850,93.597100,-0.192000,-0.148000
75%,259.250000,659.250000,29.000000,659.250000,4.0,926.000000,2.0,2022.000000,2.219296e+04,2.242346e+04,...,286.361575,192.514625,104.862050,130.236975,80.298675,202.700150,249.339650,157.766600,8.185000,2.838250
max,326.000000,894.000000,36.000000,894.000000,4.0,5501.000000,2.0,2024.000000,1.444436e+06,1.450936e+06,...,992.947000,872.300200,840.231800,953.429900,557.748100,930.234900,985.907600,752.531400,1889.129000,140.938000

In [6]:
df_UN.shape

(2320, 67)

In [7]:
#all columns
pd.set_option('display.max_columns', None)

In [14]:
df_UN.describe().to_clipboard()

In [9]:
df_UN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2320 entries, 0 to 2319
Data columns (total 67 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SortOrder               2320 non-null   int64
 1   LocID                   2320 non-null   int64
 2   Notes                   590 non-null    float64
 3   ISO3_code               2320 non-null   object
 4   ISO2_code               2310 non-null   object
 5   SDMX_code               2320 non-null   int64
 6   LocTypeID               2320 non-null   int64
 7   LocTypeName             2320 non-null   object
 8   ParentID                2320 non-null   int64
 9   Location                2320 non-null   object
 10  VarID                   2320 non-null   int64
 11  Variant                 2320 non-null   object
 12  Year                    2320 non-null   int64
 13  TPopulation1Jan         2320 non-null   float64
 14  TPopulation1July        2320 non-null   float64
 15  TPopulationMale1July    2320 non-null   float64
 16  TPopulationFemale1July  2320 non-null   float64
 17  PopDensity              2320 non-null   float64
 18  PopSexRatio             2320 non-null   float64
 19  MedianAgePop            2320 non-null   float64
 20  NatChange               2320 non-null   float64
 21  NatChangeRT             2320 non-null   float64
 22  PopChange               2320 non-null   float64
 23  PopGrowthRate           2320 non-null   float64
 24  DoublingTime            1458 non-null   float64
 25  Births                  2320 non-null   float64
 26  Births1519              2320 non-null   float64
 27  CBR                     2320 non-null   float64
 28  TFR                     2320 non-null   float64
 29  NRR                     2320 non-null   float64
 30  MAC                     2320 non-null   float64
 31  SRB                     2320 non-null   float64
 32  Deaths                  2320 non-null   float64
 33  DeathsMale              2320 non-null   float64
 34  DeathsFemale            2320 non-null   float64
 35  CDR                     2320 non-null   float64
 36  LEx                     2320 non-null   float64
 37  LExMale                 2320 non-null   float64
 38  LExFemale               2320 non-null   float64
 39  LE15                    2320 non-null   float64
 40  LE15Male                2320 non-null   float64
 41  LE15Female              2320 non-null   float64
 42  LE65                    2320 non-null   float64
 43  LE65Male                2320 non-null   float64
 44  LE65Female              2320 non-null   float64
 45  LE80                    2320 non-null   float64
 46  LE80Male                2320 non-null   float64
 47  LE80Female              2320 non-null   float64
 48  InfantDeaths            2320 non-null   float64
 49  IMR                     2320 non-null   float64
 50  LBsurvivingAge1         2320 non-null   float64
 51  Under5Deaths            2320 non-null   float64
 52  Q5                      2320 non-null   float64
 53  Q0040                   2320 non-null   float64
 54  Q0040Male               2320 non-null   float64
 55  Q0040Female             2320 non-null   float64
 56  Q0060                   2320 non-null   float64
 57  Q0060Male               2320 non-null   float64
 58  Q0060Female             2320 non-null   float64
 59  Q1550                   2320 non-null   float64
 60  Q1550Male               2320 non-null   float64
 61  Q1550Female             2320 non-null   float64
 62  Q1560                   2320 non-null   float64
 63  Q1560Male               2320 non-null   float64
 64  Q1560Female             2320 non-null   float64
 65  NetMigrations           2320 non-null   float64
 66  CNMR                    2320 non-null   float64
dtypes: float64(55), int64(7), object(5)
memory usage: 1.2+ MB